.total-balance {
    display: inline-block;
    font-weight: 600;
    font-size: 32px;
    color: #444750;
}

.tax-balance {
    display: inline-block;
    font-weight: 600;
    font-size: 32px;
    color: red;
    &::before {
        content: '- ';
    }
}

.collapse-card {
    padding-top: 0;
}

.input-content {
    margin: 0 20px;
}

.dialog-expenses {
    border-radius: 8px;
}

.MuiFormControl-fullWidth-255 {
    // width: 420px !important;
    max-width: 100%;
}

.row-value {
    &1 {
        color: red;
        &::before {
            content: ' - ';
        }
    }
    &0 {
        color: green;
        &::before {
            content: '+ ';
        }
    }
}

.MuiFormControlLabel-root-399,
.MuiButtonBase-root-50 {
    align-items: flex-end !important;
}

.table-paper {
    padding: 0 100px;
    height: 100vh;
    overflow: auto;
}

.balance-details {
    box-shadow: 0 6px 20px;
    margin-top: 15px;
    width: 30vw;
    bottom: 0;
    position: fixed;
}

.button-include {
    padding-bottom: 100px;
    display: flex;
    justify-content: flex-end;
}

.card-actions {
    float: right;
    top: 0;
}

.expand {
    transform: 'rotate(0deg)';
    margin-left: 'auto';
    transition: 'transform';
    transition-duration: 4s;
}

.expandOpen {
    transform: 'rotate(180deg)',
}

.trigger {
    width: 35px;
    height: 35px;
    border: none;
    border-radius: 50%;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    cursor: pointer;
    outline: none;
    position: relative;
}

.trigger span,
.trigger span::before,
.trigger span::after {
    position: absolute;
    width: 31px;
    height: 4px;
    border-radius: 4px;
    background: rgb(46, 36, 129);
}

.trigger span {
    top: calc(50% - 2px);
    left: calc(50% - 16px);
    transition: all .3s ease;
}

.trigger span::before,
.trigger span::after {
    content: '';
    left: 0;
    transition: all .3s ease;
}

.trigger span::before {
    bottom: 8px;
}

.trigger span::after {
    top: 8px;
}

.trigger:hover span {
    transform: rotate(180deg);
}

.trigger:hover span::before {
    transform: translateX(-2px) translateY(2px) rotate(-45deg);
    width: 60%;
}

.trigger:hover span::after {
    transform: translateX(-2px) translateY(-2px) rotate(45deg);
    width: 60%;
}