.balance {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: start;
    & .total-balance {
        display: inline-block;
        font-weight: 600;
        font-size: 32px;
        color: #444750;
    }
    & .tax-balance {
        display: inline-block;
        font-weight: 600;
        font-size: 32px;
        color: red;
        &::before {
            content: '- ';
        }
    }
}